body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 2vw;   
    height: 70vh;
    text-align: center;
    background-color: #000000;
    border-radius: 13px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: #5e5c5c 8px 8px 8px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.content {
    margin-left: 25vw;    /* Sposta il contenuto a destra */
    padding: 20px;
    box-sizing: border-box;
}



#login-button {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 300px;

  background-color: #575a5e;
  outline: 3px #ffffff solid;   
  border-radius: 13px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

#login-button .text {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  transition: 400ms;
}


#login-button:hover {
  background-color: #ffffff;
}

#login-button:hover .text {
  color: #000000;
}

#login-button:hover svg path {
  fill: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #000000;  
  border-radius: 13px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  transition: 400ms;
}

.button:hover {
  background-color: #ffffff;
}

.button:hover .text {
  color: black;
}